apiVersion: apps/v1
kind: Deployment
metadata:
  name: news-sentinel-api
  namespace: news-sentinel
spec:
  replicas: 1
  selector:
    matchLabels:
      app: news-sentinel-api
  template:
    metadata:
      labels:
        app: news-sentinel-api
    spec:
      containers:
        - name: api
          image: news-sentinel-mlops:cpu
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: news-sentinel-config
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 8
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 15
            timeoutSeconds: 3
            failureThreshold: 3
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "1000m"
              memory: "2Gi"
